.teslaAccount__header{
    padding:7px 20px;
    padding-top:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color:white;
}

.teslaAccount__links{
    display: flex;
    gap:20px;
    align-items: center;
}
.teslaAccount__links > a{
    color:white;
    text-transform:uppercase;
    text-decoration:none;
    font-weight: 500;
    font-size:15px;
    z-index:0; 
}
.teslaAccountMenu{
    color:black;
    /* border: 1px solid; */
    z-index: 2;
}
.teslaAccount__logo > a > img{
    object-fit: contain;
    width:80px;
}
