.buttonPrimary{
    background-color:#3e6ae1;
    border:none;
    padding:12px 40px;
    border-radius: 50px;
    color:white;
    text-transform:uppercase;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    margin-bottom:30px;
    transition:all 0.4s;
}

.buttonSecondary{
    background-color:transparent;
    border:3px solid #171a20;
    width:100%;
    padding:10px 40px;
    border-radius: 50px;
    text-transform: uppercase;
    color:black;
    font-weight:600;
    cursor:pointer;
    transition:all 0.2s ease-in-out;
    outline:none;
}

.buttonSecondary:hover{
    background-color: #171a20;
    color:white;
}